/* --- ESTILIZAÇÃO DA NAV BAR DE NÍVEIS --- */

.nav-niveis {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px 0 30px 0;
}

.btn-nivel {
    background-color: #111111;
    color: #ffffff;
    border: 2px solid transparent;
    padding: 10px 25px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.btn-nivel:hover {
    color: #00ff00; /* Tom verde brilhante do seu projeto */
}

.btn-nivel.active {
    border-color: #00ff00; /* Borda verde ativa */
    color: #ffffff;
    box-shadow: 0 0 8px rgba(0, 255, 0, 0.2);
}